<a href="https://colab.research.google.com/github/hammer1234567/Build-4-India/blob/master/Dataset_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

First reading dataset from detecting_insults

In [0]:
impremium = pd.read_csv('/content/drive/My Drive/ML-PR/dataset/detecting_insults/impremium.csv')
impremium2 = pd.read_csv('/content/drive/My Drive/ML-PR/dataset/detecting_insults/impermium2.csv')
sample_submission = pd.read_csv('/content/drive/My Drive/ML-PR/dataset/detecting_insults/sample_submission_null.csv')
train = pd.read_csv('/content/drive/My Drive/ML-PR/dataset/detecting_insults/train.csv')

In [7]:
impremium.head(10)

   id  Insult  ...                                            Comment        Usage
0   1       0  ...                 "like this if you are a tribe fan"  PrivateTest
1   2       1  ...              "you're idiot......................."  PrivateTest
2   3       1  ...  "I am a woman Babs, and the only "war on women...  PrivateTest
3   4       1  ...  "WOW & YOU BENEFITTED SO MANY WINS THIS YEAR F...  PrivateTest
4   5       1  ...  "haha green me red you now loser whos winning ...  PrivateTest
5   6       0  ...  "\nMe and God both hate-faggots.\n\nWhat's the...  PrivateTest
6   7       1  ...  "Oh go kiss the ass of a goat....and you DUMMY...  PrivateTest
7   8       0  ...                  "Not a chance Kid, you're wrong."  PrivateTest
8   9       0  ...            "On Some real Shit FUck LIVE JASMIN!!!"  PrivateTest
9  10       1  ...  "ok but where the hell was it released?you all...  PrivateTest

[10 rows x 5 columns]

In [9]:
impremium2.head(10)

   id  Insult  ...                                            Comment        Usage
0   1     NaN  ...                 "like this if you are a tribe fan"  PrivateTest
1   2     NaN  ...              "you're idiot......................."  PrivateTest
2   3     NaN  ...  "I am a woman Babs, and the only "war on women...  PrivateTest
3   4     NaN  ...  "WOW & YOU BENEFITTED SO MANY WINS THIS YEAR F...  PrivateTest
4   5     NaN  ...  "haha green me red you now loser whos winning ...  PrivateTest
5   6     NaN  ...  "\nMe and God both hate-faggots.\n\nWhat's the...  PrivateTest
6   7     NaN  ...  "Oh go kiss the ass of a goat....and you DUMMY...  PrivateTest
7   8     NaN  ...                  "Not a chance Kid, you're wrong."  PrivateTest
8   9     NaN  ...            "On Some real Shit FUck LIVE JASMIN!!!"  PrivateTest
9  10     NaN  ...  "ok but where the hell was it released?you all...  PrivateTest

[10 rows x 5 columns]

In [10]:
train.head(10)

   Insult             Date                                            Comment
0       1  20120618192155Z                               "You fuck your dad."
1       0  20120528192215Z  "i really don't understand your point.\xa0 It ...
2       0              NaN  "A\\xc2\\xa0majority of Canadians can and has ...
3       0              NaN  "listen if you dont wanna get married to a man...
4       0  20120619094753Z  "C\xe1c b\u1ea1n xu\u1ed1ng \u0111\u01b0\u1edd...
5       0  20120620171226Z  "@SDL OK, but I would hope they'd sign him to ...
6       0  20120503012628Z                      "Yeah and where are you now?"
7       1              NaN  "shut the fuck up. you and the rest of your fa...
8       1  20120502173553Z  "Either you are fake or extremely stupid...may...
9       1  20120620160512Z  "That you are an idiot who understands neither...

In [11]:
sample_submission.head(10)

   Insult             Date                                            Comment
0       0              NaN  "THE DRUDGE REPORT\\n\\n\\n\\nYou won't see th...
1       0  20120618222256Z  "@ian21\xa0"Roger Clemens is the fucking man, ...
2       0  20120618213617Z  "Agree with Alan you are an extremest idiot.  ...
3       0              NaN  "Really?\\n\\nI see Marc Lamont Hill on variou...
4       0  20120620003825Z  "Really suck isn't the word, when many of our ...
5       0              NaN  "...after a couple guys like him rape him firs...
6       0  20120529201500Z   "Matthews mentored Perry at USC.  Bodes well..."
7       0  20120619145613Z  "How about we accept facts and patiently wait ...
8       0  20120609165037Z  "To engage in an intelligent debate with you i...
9       0  20120612145537Z  "Same reason no one cared Obama did cocaine, w...

Exploring hasoc dataset

In [0]:
english_dataset = pd.read_csv('/content/drive/My Drive/ML-PR/dataset/hasoc/english_dataset/english_dataset.tsv', delimiter='\t')

In [13]:
english_dataset.head()

      text_id                                               text  ... task_2 task_3
0  hasoc_en_1  #DhoniKeepsTheGlove | WATCH: Sports Minister K...  ...   NONE   NONE
1  hasoc_en_2  @politico No. We should remember very clearly ...  ...   HATE    TIN
2  hasoc_en_3  @cricketworldcup Guess who would be the winner...  ...   NONE   NONE
3  hasoc_en_4  Corbyn is too politically intellectual for #Bo...  ...   NONE   NONE
4  hasoc_en_5  All the best to #TeamIndia for another swimmin...  ...   NONE   NONE

[5 rows x 5 columns]

In [29]:
english_dataset.task_2.unique()

array(['NONE', 'HATE', 'PRFN', 'OFFN'], dtype=object)

In [0]:
def calculate_hate(cols):
  task_2 = str(cols[0])

  if task_2 == "NONE":
    return 0
  else:
    return 1

In [0]:
english_dataset['label'] = english_dataset[['task_2']].apply(calculate_hate, axis = 1)

In [74]:
english_dataset.head()

                                                text  label
0  #DhoniKeepsTheGlove | WATCH: Sports Minister K...      0
1  @politico No. We should remember very clearly ...      1
2  @cricketworldcup Guess who would be the winner...      0
3  Corbyn is too politically intellectual for #Bo...      0
4  All the best to #TeamIndia for another swimmin...      0

In [0]:
columns = ['text_id', 'task_1', 'task_2', 'task_3']
english_dataset.drop(columns=columns, axis = 1, inplace = True)

In [28]:
english_dataset[english_dataset['task_2'] == 'PRFN'].head(5)

        text_id  ... task_3
7    hasoc_en_8  ...    TIN
15  hasoc_en_16  ...    TIN
32  hasoc_en_33  ...    TIN
43  hasoc_en_44  ...    TIN
44  hasoc_en_45  ...    TIN

[5 rows x 5 columns]

In [31]:
english_dataset['text'][32]

'@realDonaldTrump fuck you and go fuck yourself you piece of shit someone get this asshole a jail cell for his birthday #ImpeachTrumpNow #fucktrump #dickstaindonald #DerangedDonald https://t.co/41eFBCu2uD'

Hate, Prfn, Offn all class seems to be come in hatred

So we will consider all these in one

Exploring hate_offensive dataset

In [0]:
labeled_data = pd.read_csv('/content/drive/My Drive/ML-PR/dataset/hate_offensive/labeled_data.csv')

In [35]:
labeled_data.head(10)

   Unnamed: 0  count  ...  class                                              tweet
0           0      3  ...      2  !!! RT @mayasolovely: As a woman you shouldn't...
1           1      3  ...      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2           2      3  ...      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3           3      3  ...      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4           4      6  ...      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
5           5      3  ...      1  !!!!!!!!!!!!!!!!!!"@T_Madison_x: The shit just...
6           6      3  ...      1  !!!!!!"@__BrighterDays: I can not just sit up ...
7           7      3  ...      1  !!!!&#8220;@selfiequeenbri: cause I'm tired of...
8           8      3  ...      1  " &amp; you might not get ya bitch back &amp; ...
9           9      3  ...      1  " @rhythmixx_ :hobbies include: fighting Maria...

[10 rows x 7 columns]

In [0]:
def calculate_hate_labeled_data(cols):
  cls = int(cols[0])

  if cls == 2:
    return 0
  else:
    return 1

In [0]:
labeled_data['label'] = labeled_data[['class']].apply(calculate_hate_labeled_data, axis = 1)

In [0]:
labeled_data.rename(columns = {'tweet': 'text'}, inplace = True)

In [85]:
labeled_data.head()

                                                text  label
0  !!! RT @mayasolovely: As a woman you shouldn't...      0
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...      1
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...      1
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...      1
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...      1

In [0]:
columns = ['Unnamed: 0', 'count', 'hate_speech', 'offensive_language', 'neither', 'class']
labeled_data.drop(columns = columns, inplace = True)

Exploring Data of jigsaw_toxic

In [0]:
train_jigsaw = pd.read_csv('/content/drive/My Drive/ML-PR/dataset/jigsaw_toxic/train.csv')

In [0]:
def calculate_hate_jigsaw(cols):
  toxic = int(cols[0])
  severe_toxic = int(cols[1])
  obscene = int(cols[2])
  threat = int(cols[3])
  insult = int(cols[4])
  indentity_hate = int(cols[5])


  return (toxic | severe_toxic | obscene | threat | insult | indentity_hate)

In [0]:
train_jigsaw['label'] = train_jigsaw[['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']].apply(calculate_hate_jigsaw, axis = 1)

In [0]:
columns = ['id', 'toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']
train_jigsaw.drop(columns=columns, inplace = True)
train_jigsaw.rename(columns = {'comment_text': 'text'}, inplace = True)

In [112]:
train_jigsaw.head()

                                                text  label
0  Explanation\nWhy the edits made under my usern...      0
1  D'aww! He matches this background colour I'm s...      0
2  Hey man, I'm really not trying to edit war. It...      0
3  "\nMore\nI can't make any real suggestions on ...      0
4  You, sir, are my hero. Any chance you remember...      0

Exploring the data of personal attacks

In [0]:
attacks_annoted = pd.read_csv('/content/drive/My Drive/ML-PR/dataset/personal_attacks/attack_comments.tsv', delimiter='\t')

In [60]:
attacks_annoted.head()

   rev_id                                            comment  ...  sample  split
0   37675  `-NEWLINE_TOKENThis is not ``creative``.  Thos...  ...  random  train
1   44816  `NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...  ...  random  train
2   49851  NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...  ...  random  train
3   89320   Next, maybe you could work on being less cond...  ...  random    dev
4   93890               This page will need disambiguation.   ...  random  train

[5 rows x 7 columns]

In [50]:
attacks_annoted['sample'].unique()

array(['random', 'blocked'], dtype=object)